span{
	color: white;
	margin-left: 350px;
	margin-right: 350px;
	padding-top: 10px;
	display: block;
}

.userHeader nav ul a{
	padding-bottom: 0px;
}

.profileImg.imgProfile{
	padding-top: 10px;
}

.search{
	margin: 0px 180px 0px 50px;
}

.userName{
	width: 300px;
}

.jumbotron{
	padding: 10px 10px;
}

.mainForm{
	margin-left: 25%;
	margin-top: 5%;
}

.registerForm{
	margin-left: 10%;
	margin-top: 5%;
}
.registerForm label{
	display: block;
	margin-right: 10px;
	width: auto;
}
.radio{
	display: inline-block;
}

#friendsPreview{
	border: 1px solid #000000;
	float: right;
}

#searchResults{
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 547px;
	width: 220px;
	padding: 5px;
	background-color: #2c3e50;
}
i{
	text-decoration: underline;
}

.passwordForm{
	display: inline-block;
	width: 400px;
	margin: 50px 100px;
}

.resultPerson{
	border-collapse: collapse;
	border: 1px solid #000000;
	padding: 3px;
	margin-bottom: 5px;
	background-color: #ffffff;
}

#searchResults img{
	width: 30px;
}

#searchResults p{
	display: inline-block;
}
#inputSearch{
	width: 220px;
}
.imageUploader{
	margin-bottom: 50px;
}
#requestResults{
	display: inline-block;
	position: absolute;
	top: 50px;
	right: 100px;
	width: 220px;
	padding: 5px;
	background-color: #2c3e50;
}

.resultRequest{
	margin-bottom: 15px;
	background-color: #ffffff;
	padding: 10px;
}
.requestUserName{
	margin: 15px 0px;
}

.requestUserName{
	display: inline-block;
}

.friends{
	width: 300px;
}

.friendPreview{
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	padding: 2px;
	display: inline-block;
	background-repeat: no-repeat;
}

#friendPreviewName{
	color: white;
	font-size: 11px;
	float: right;
	display: inline-block;
}

#friendPreviewWrapper{
	display: inline-block;
	width: 200px;
	border: 1px solid #000000;
}
h5,h6{
	display: inline-block;
}

#newsFeed{
	display: inline-block;
	width: 700px;
	margin: 40px;
	border: 1px solid #000000;
}
