span{
	color: white;
	margin: 18px 350px;
}

.mainForm{
	margin-left: 25%;
	margin-top: 5%;
}

.registerForm{
	margin-left: 25%;
	margin-top: 5%;
}
.registerForm label{
	display: block;
	margin-right: 100px;
	width: auto;
}