<header ng-include="'partials/UserHomeHeader.html'" ng-click="overFriendRefusts()"></header>
<blockquote><h1>My Friends (Total: {{allMyFriends.length}})</h1></blockquote>
<div id="allFriendSearch">
    <label for="allFriendSearchName">Name filter</label>
    <input id="allFriendSearchName" type="text"/>
    <div class="bs-component" style="display: inline-block">
        <div class="jumbotron" style="display: inline-block">
            <div class="allFriendsPreview">
                <div class="friendPreview" ng-repeat="friend in allMyFriends"
                     ng-style="{'background-image': 'url({{ friend.profileImageData }})'}">
                    <p id="friendPreviewName">{{friend.name}}</p>
                </div>
            </div>
        </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
</div>
