<header ng-include="'partials/UserHomeHeader.html'"></header>
<div class="passwordForm">
    <div class="form-group">
        <label class="control-label" for="focusedInput">Old Password</label>
        <input class="form-control" id="focusedInput" type="password" ng-model="password.oldPassword">
    </div>

    <div class="form-group">
        <label class="control-label" for="newPassword">New Password</label>
        <input class="form-control" id="newPassword" type="password" ng-model="password.newPassword">
    </div>

    <div class="form-group">
        <label class="control-label" for="confirm">Confriem New Password</label>
        <input class="form-control" id="confirm" type="password" ng-model="password.confirmPassword">
    </div>
    <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <a href="#/"><button ng-click="changePassword(password)" type="submit" class="btn btn-primary">Submit</button></a>
    </div>
</div>
<div id="searchResults" ng-show="isActiveSearch" ></div>