<header ng-include="'partials/UserHomeHeader.html'"></header>
<div class="editProfileForm" ng-controller="EditProfileController">
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Edit Profile</legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">New Full name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="name" ng-model="editData.Name"
                                   placeholder={{loggedUserData.name}}>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newEmail" class="col-lg-2 control-label">New Email</label><br/>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="newEmail" ng-model="editData.Email"
                                   placeholder="{{loggedUserData.email}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="editData.gender"
                                           id="male" value="male" checked="">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="editData.gender"
                                           id="female" value="female">
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="editData.gender"
                                           id="other" value="other">
                                    Other
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="#/"><button type="reset" class="btn btn-default">Cancel</button></a>
                            <button type="submit" ng-click="edit(editData)" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">

        <form class="bs-component">
            <div class="form-group">
                <label for="profileImage" class="col-lg-2 control-label">Profile Picture</label>
                <div class="col-lg-10">
                    <div class="profileImage">
                        <img ng-src="{{loggedUserData.profileImageData}}" width="150px"alt=""/>
                    </div>
                    <p>Image Preview</p>
                    <input type="file" id="profileImage" class="imageUploader"
                           onchange="angular.element(this).scope().profilePictureSelected(this)" />
                </div>
            </div>

            <div class="form-group">
                <label for="profileImage" class="col-lg-2 control-label">Cover Picture</label>
                <div class="col-lg-10">
                    <div class="coverImage">
                        <img ng-src="{{loggedUserData.coverImageData}}" width="300px" alt=""/>
                    </div>
                    <p>Image Preview</p>
                    <input type="file" id="coverImage" class="imageUploader"
                           onchange="angular.element(this).scope().coverImageSelected(this)" />
                </div>
            </div>
        </form>
    </div>
</div>
<div id="searchResults" ng-show="isActiveSearch" ></div>