<div class="bs-component" style="display: inline-block">
    <div class="jumbotron" style="display: inline-block">
        <h5>Total friends: {{friendsPreview.totalCount}}</h5>
        <div class="friends">
            <div class="friendPreview" ng-repeat="friend in friendsPreview.friends"
                 ng-style="{'background-image': 'url({{ friend.profileImageData }})'}">
                <p id="friendPreviewName">{{friend.name}}</p>
            </div>
        </div>
    </div>
<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>