<header ng-include="'partials/GuestHeader.html'"></header>
<div class="registerForm">
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" name="registerForm">
                <fieldset>
                    <legend>Register</legend>
                    <div class="form-group">
                        <label for="username" class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="registerUser.Username"
                                   id="username" placeholder="username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="password" ng-model="registerUser.Password"
                                   placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cofirmPassword" class="col-lg-2 control-label">Confirm Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" ng-model="registerUser.ConfirmPassword"
                                   id="cofirmPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-lg-2 control-label">Full name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="name" ng-model="registerUser.Name"
                                   placeholder="full name" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="email" ng-model="registerUser.Email"
                                   placeholder="email" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="registerUser.gender"
                                           id="male" value="male" checked="">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="registerUser.gender"
                                           id="female" value="female">
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="gender" ng-model="registerUser.gender"
                                           id="other" value="other">
                                    Other
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="#/"><button type="reset" class="btn btn-default">Cancel</button></a>
                            <button type="submit" ng-click="register(registerUser)" class="btn btn-primary"
                                    ng-disabled="registerForm.$invalid">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>

</div>